<div class="container-sm">

<div class="center-center">
<table class="table">
  <thead>
    <tr>
      <th scope="col">コース名</th>
      <th scope="col">説明</th>
      <th scope="col">価格</th>
      <th scope="col">更新</th>
      <th scope="col">削除</th>
    </tr>
  </thead>
  <tbody>
    <% courses.forEach(c => { %>
    <tr>
      <td>
        <a href="<%= `/courses/${ c._id }` %>">
          <%= c.title %>
        </a>
      </td>
      <td><%= c.discription %></td>
      <td><%= c.cost %></td>
      <td>
        <a href="<%= `/courses/${ c._id }/edit` %>">
          編集
        </a>
      </td>
      <td>
        <a href="<%= `/courses/${ c._id }/delete?_method=DELETE` %>"
          onclick="return confirm(`このコースを削除してよろしいですか？`)">
          削除
        </a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
</div>

</div>