<div class="container-sm">

<div class="center-center">
  <p>作成したコースは <%= course.title %></p>
  <table class="table">
    <tbody>
      <tr>
        <th scope="col">品名</th>
        <td><%= course.title %></td>
      </tr>
      <tr>
        <th scope="col">キャッチコピー</th>
        <td><%= course.heading %></td>
      </tr>
      <tr>
        <th scope="col">本文</th>
        <td><%= course.discription %></td>
      </tr>
      <tr>
        <th scope="col">手順</th>
        <td><%= course.process %></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <% if (course.subscribed_account) { %>
  <h4 class="center">
    This course has a <a href="<%= `/subscribers/${ course.subscribed_account }` %>"></a> subscribed account.
  </h4>
<% } %> -->

</div>