<div class="container-sm">

<div class="center-center">
  <h4><%= user.fullName %>さんのプロフィール</h4>
  <table class="table">
    <tbody>
      <tr>
        <th scope="col">お名前</th>
        <td><%= user.fullName %></td>
      </tr>
      <tr>
        <th scope="col">Email</th>
        <td><%= user.email %></td>
      </tr>
      <tr>
        <th scope="col">Zip Code</th>
        <td><%= user.zip_code %></td>
      </tr>
      <tr>
        <th scope="col">パスワード</th>
        <td><%= user.password %></td>
      </tr>
    </tbody>
  </table>
</div>

<% if (user.subscribed_account) { %>
  <h4 class="center">
    This user has a <a href="<%= `/subscribers/${ user.subscribed_account }` %>"></a> subscribed account.
  </h4>
<% } %>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <a href="/users" style="color: white;">
      View all users
    </a>
  </label>
  <label class="btn btn-secondary">
  <a href="<%=`/users/${user._id}/edit`%>" style="color: white;">
      Edit User Details
    </a>
  </label>
  <label class="btn btn-secondary">
  <a href="<%= `/users/${ user._id }/delete?_method=DELETE` %>"
    onclick="return confirm('Are you sure you want to delete this record?')"
    style="color: white;">
    Delete
    </a>
  </label>
</div>

</div>