<div class="container-sm">

  <div class="center-center">
    <h4><%= user.fullName %>さん</h4>
    <table class="table">
      <tbody>
        <tr>
          <th scope="col">お名前</th>
          <td><%= user.fullName %></td>
        </tr>
        <tr>
          <th scope="col">Email</th>
          <td><%= user.email %></td>
        </tr>
        <tr>
          <th scope="col">Zip Code</th>
          <td><%= user.zip_code %></td>
        </tr>
        <tr>
          <th scope="col">パスワード</th>
          <td><%= user.password %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <% if (user.subscribed_account) { %>
    <h4 class="center">
      This user has a <a href="<%= `/subscribers/${ user.subscribed_account }` %>"></a> subscribed account.
    </h4>
  <% } %>

  <div class="btn-group btn-sm" role="group">
    <a class="btn btn-outline-success" href="<%=`/users/${ user._id }/edit`%>" role="button">利用者情報の編集</a>
    <a class="btn btn-outline-success" href="<%= `/users/${ user._id }/delete?_method=DELETE` %>"
      onclick="return confirm('Are you sure you want to delete this record?')" role="button">利用者を削除</a>
    <a class="btn btn-outline-success" href="/users" role="button">利用者一覧へ</a>
  </div>

</div>