<div class="container-sm">

  <div class="center-center">
    <h2><%= subscriber.name %>さん</h2>
    <table class="table">
      <tbody>
        <tr>
          <th scope="col">お名前</th>
          <td><%= subscriber.name %></td>
        </tr>
        <tr>
          <th scope="col">Email</th>
          <td><%= subscriber.email %></td>
        </tr>
        <tr>
          <th scope="col">Zip Code</th>
          <td><%= subscriber.zip_code %></td>
        </tr>
      </tbody>
    </table>
    <p><%= subscriber.name %>さんは<%= subscriber.courses.length %>のコースを取っています。</p>
  </div>

  <% if (subscriber.subscribed_account) { %>
    <h4 class="center">
      This subscriber has a <a href="<%= `/subscribers/${ subscriber.subscribed_account }` %>"></a> subscribed account.
    </h4>
  <% } %>

  <div class="btn-group btn-sm" role="group">
    <a class="btn btn-outline-success" href="<%=`/subscribers/${ subscriber._id }/edit`%>" role="button">購読者情報の編集</a>
    <a class="btn btn-outline-success" href="<%= `/subscribers/${ subscriber._id }/delete?_method=DELETE` %>"
      onclick="return confirm('Are you sure you want to delete this record?')" role="button">購読者を削除</a>
    <a class="btn btn-outline-success" href="/subscribers" role="button">購読者一覧へ</a>
  </div>

</div>